.overlay {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  top: 8%;
  padding: 0 1.5rem;
  animation: fadeInUp 0.9s ease-out both;
  opacity: 0;
  max-width: 600px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 height: 85dvh;
  margin: 0 auto;
}

.overlay small {
  display: block;
  font-size: 0.85rem;
  color: #aaa;
  margin-bottom: 1rem;
  letter-spacing: 0.6px;
  font-weight: 300;
}

.overlay h1 {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.name {
  background: linear-gradient(90deg, #ffffff, #888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line {
  width: 40px;
  height: 2px;
  margin: 0.6rem auto 1.2rem;
  background: linear-gradient(to right,#ffffff, #888);
  border-radius: 999px;
}

.highlight {
  font-size: 1.05rem;
  font-weight: 500;
  color: #00ffe0;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 0.96rem;
  font-weight: 400;
  color: #d6d6d6;
  margin-bottom: 0.7rem;
  line-height: 1.6;
}

.overlay strong {
  margin-top: 0.5rem;
  color: #fff;
  font-weight: 600;
}

.overlay .techTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.4rem;
  font-size: 0.82rem;
}

.overlay .techTags span {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0.4rem 0.75rem;
  border-radius: 6px;
  color: #ccc;
  transition: all 0.3s ease;
}
.overlay .techTags span:hover {
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.scrollButton {
  border: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  backdrop-filter: blur(4px);
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1.2s ease-out 0.5s both;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.08);
  
}

.scrollButton:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.scrollButton span {
  display: block;
  width: 18px;
  height: 18px;
  border-left: 2px solid #ffffffcc;
  border-bottom: 2px solid #ffffffcc;
  transform: rotate(-45deg);
  animation: bounceDown 1.4s infinite ease-in-out;
}

@keyframes bounceDown {
  0% {
    transform: translateY(0) rotate(-45deg);
  }
  50% {
    transform: translateY(6px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
